.mainpage {
  background-color: #d7d7d7;
  /* background-color: #ff9803; */
  border: 15px solid #da5c2b;
  width: 100%;
  padding: 50px;
  margin: 20px;
  position: relative;
}

.finput {
  padding: 20px;
  height: 40px;
  width: 150px;
}

.flabel {
  font-weight: bold;
  padding: 20px;
  height: 50px;
  color: black;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
}

.menupage {
  color: #343a32;
}
